<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7359891f-c32f-44dd-a810-cf7ade6f9d7b" Publisher="CN=John" Version="1.0.0.0" />
  <Properties>
    <DisplayName>tumbl8r</DisplayName>
    <PublisherDisplayName>John</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="tumbl8r.App">
      <VisualElements DisplayName="tumbl8r" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="a tumblr app for windows 8" ForegroundText="light" BackgroundColor="#2f4b66">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2f4b66" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>